@page "/"
@inject NavigationManager NavManager

<h1>Welcome to Blazor!</h1>

<p>This is the home page of your Blazor application.</p>

<button @onclick="Redirect">Sign up</button>

@code {
    private void Redirect()
    {
        Console.WriteLine("Button clicked!");
        NavManager.NavigateTo("/signup");
    }
}
